<h2 class="ui center aligned medium icon header">
  <i class="circular coffee teal icon"></i>
  Something
</h2>

<div class="ui two column stackable grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content messages-scroll">
        <div class="ui feed">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_with(model: @message, url: message_path, class: "ui reply form") do |f| %>
          <div class="field">
          </div>
          <div class="ui fluid blue icon input">
            <%= f.text_field :body, placeholder: "Enter a message..." %>
            <%= f.button '<i class="bordered inverted teal edit icon"></i>'.html_safe %>
          </div>
        <% end %>
      </div>
    </div>
</div>

  <div class="four wide column">
    <div class="ui fluid raised segment chatbox">
      <div class="ui inverted vertical fluid menu">
        <a class="active item">
          Home
        </a>
        <a class="item">
          Messages
        </a>
        <a class="item">
          Friends
        </a>
      </div>
    </div>
  </div>
</div>