@import "semantic-ui";

.chatbox {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.chatbox > .content.messages-scroll {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}

.chatbox > .extra.content {
  flex-shrink: 0;
}

.login-button-field {
  text-align: center;
}

.middle.aligned.column {
  text-align: center;
}